h3, h4, p{
  font-family: 'Roboto', sans-serif;
  color: #B5A0C4;
}

a{
  color:#A0ADC4;
}

body{
  background-color: #2E2932;
}

.menu{
  color: #DCC5EA;

  border: none;
  border-bottom: solid;
  border-width: 0.15rem;

  background-color: rgba(0,0,0,0);

  margin: 0.25rem 0;

  transition: linear 0.2s;
}

.menu:hover{
  margin: 0.35rem 0.10rem;
  font-size: 1.2rem;

  border-color: #B050EA;
}

.sobre_btn{
  margin: 0.25rem 0;
  border: solid;
  border-radius: 0.25rem;
  border-width: 0.10rem;

  background-color: rgba(0,0,0,0);

  color: #DCC5EA;
  outline: none;

  transition: 0.2s;
}

.sobre_btn:hover{
  color: #B050EA;
  font-size: 1rem;
  margin: 0.35rem 0;
}


.sobre{
  font-size: 0.8rem;
}

.noticia{
  text-align: left;
  font-size: 0.8rem;

  background-color: #3C3640;

  padding: 0.001rem 0.5rem;

  margin: 0.3rem 2%;

}
